E/AI_Telegram_Bot_Agent__Smart_Assistant___Content_Summarizer.json
{
  "name": "AI Telegram Bot Agent: Smart Assistant & Content Summarizer",
  "nodes": [
    {
      "parameters": {
        "content": "Quick-Start Telegram Echo Bot\n\nA single-node Telegram bot that parses /help, /summary <URL>, or /img <prompt> and returns either a help menu, a 10–12-point article summary, or an “image in progress” acknowledgement.",
        "width": 400,
        "color": 7
      },
      "id": "fc72edcc-ef9a-4281-a0fc-9813287c8004",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        -260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Listener\n\nWatches for any new message from Telegram and kicks the flow off.",
        "color": 7
      },
      "id": "0728f247-ed89-4c8d-a1eb-148875266bdf",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Command Router\n\nChecks if the message starts with /help, /summary, or /img, and sends it down the right path.",
        "color": 7
      },
      "id": "e3ae7da4-ef0e-40ba-ab0e-7066dc673b96",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Help Responder\n\nWhen it sees /help, replies with a simple list of commands and how to use them.",
        "color": 7
      },
      "id": "f0b5afc1-ef07-4094-ba5b-b4fad385e76c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        -300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Summary Checker\n\nSees if the text begins with /summary. If yes, it moves on to fetch the article; if no, skips onward.",
        "color": 7
      },
      "id": "1ec54141-ed99-4c9c-a7ad-7191228c6858",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        580,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Fetcher\n\nGoes to the provided URL and downloads the page’s HTML.\n",
        "color": 7
      },
      "id": "e2d289a0-d0c0-4866-b21e-83124004edd1",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        -100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Image Prompt Checker\n\nSees if the text begins with /img. If yes, forwards the prompt to the image generator; if not, ends the flow.",
        "color": 7
      },
      "id": "0e2d6ffe-9984-4e3f-8bbb-548e76492adb",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Text Extractor\n\nPulls out just the main article text (e.g. everything inside <body>).",
        "color": 7
      },
      "id": "681f0ba4-fa88-46cf-b16f-b8ca646dcc68",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1340,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Image Generator\n\nSends your prompt to OpenAI’s image endpoint (or your chosen image API).",
        "color": 7
      },
      "id": "615fe9a8-b676-49d1-b039-343f1d6f764d",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1560,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Summarizer\n\nSends the raw article text to OpenAI and asks for a 10–12-point professional bullet-point summary.",
        "color": 7
      },
      "id": "4f665665-25f1-490b-9753-515950577cad",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        -100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Image Acknowledger\n\nTells the user “Got it—your image is being made!” (and later you can hook this up to send the actual picture URL).",
        "color": 7
      },
      "id": "b5ac77ad-c3c5-4bbd-854f-bb459112bd66",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2180,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Summary Sender\n\nDelivers the bullet-point summary back to the user in Telegram.\n",
        "color": 7
      },
      "id": "36f1c453-0e8c-408b-ab79-c2d2386c57d0",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2380,
        -100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "04cb6d71-6127-4869-9252-f165357056c8",
      "name": "Listener",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        100,
        140
      ],
      "webhookId": "61f2e55d-a41d-4594-a045-154264c78738",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"message\"][\"text\"]}}",
              "operation": "startsWith",
              "value2": "/help"
            }
          ]
        }
      },
      "id": "190bff0a-b206-4354-ad85-afc365d41ec7",
      "name": "Command Router",
      "type": "n8n-nodes-base.if",
      "position": [
        400,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "🤖 *Help Menu*\n\nUse `/summary <link>` to summarize an article.\nUse `/img <prompt>` to generate an image.\n\n_Example:_\n/summary https://example.com\n/img a futuristic cityscape",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "316ae831-1d39-44fe-b01a-103f510b654e",
      "name": "Help Responder",
      "type": "n8n-nodes-base.telegram",
      "position": [
        620,
        -100
      ],
      "webhookId": "ab573ae8-05e4-41bb-bec7-fca1233fc0bb",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"message\"][\"text\"]}}",
              "operation": "startsWith",
              "value2": "/summary"
            }
          ]
        }
      },
      "id": "4ff8a530-521c-4661-8cf7-e0d810846927",
      "name": "Summary Checker",
      "type": "n8n-nodes-base.if",
      "position": [
        640,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.message.link_preview_options.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {}
      },
      "id": "4d65aaf1-c2bb-4e91-9caa-d9ea9d1d0f32",
      "name": "Fetcher",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1000,
        100
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body",
              "skipSelectors": "svg, a"
            }
          ]
        },
        "options": {}
      },
      "id": "b24f2baf-fb75-41d2-b60f-db1605b0ff77",
      "name": "Text Extractor",
      "type": "n8n-nodes-base.html",
      "position": [
        1400,
        380
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize the entire content provided below into 10–12 concise bullet points. Ensure each point captures a unique and important aspect of the information, covering the core ideas, key facts, major findings, and essential takeaways. Avoid repetition and use clear, professional language suitable for quick understanding by a decision-maker.\n\nContent:\n {{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ddcd1ad5-7d3d-4f37-bf59-5dbc5600dba8",
      "name": "Summarizer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1760,
        120
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "chatId": "={{ $('Listener').item.json.message.chat.id }}",
        "text": "={{$json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]}}",
        "additionalFields": {}
      },
      "id": "544a2433-881d-4d45-b6d0-e9efa69c42d0",
      "name": "Summary Sender",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2300,
        120
      ],
      "webhookId": "c6f19898-b638-4e42-b377-d7664087ab0b",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"message\"][\"text\"]}}",
              "operation": "startsWith",
              "value2": "/img"
            }
          ]
        }
      },
      "id": "14eeaf53-59b4-4abe-af53-50a6b300177b",
      "name": "Image Prompt Checker",
      "type": "n8n-nodes-base.if",
      "position": [
        1040,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "image",
        "options": {}
      },
      "id": "6c5b025d-79ca-4bee-8543-0956bd08af3f",
      "name": "Image Generator",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1640,
        840
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "🖼️ Generated image prompt submitted! Gemini image model doesn't return images directly. Use image generation APIs like Stability for actual image URLs.",
        "additionalFields": {}
      },
      "id": "c05c9bd1-d387-49f1-ad0f-518b4eecfa4b",
      "name": "Image Acknowledger",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2240,
        500
      ],
      "webhookId": "b5fb6529-a924-4885-8d6c-17073ce29bb0",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "=======================================\n            WORKFLOW ASSISTANCE\n=======================================\nFor any questions or support, please contact:\n    Yaron@nofluff.online\n\nExplore more tips and tutorials here:\n   - YouTube: https://www.youtube.com/@YaronBeen/videos\n   - LinkedIn: https://www.linkedin.com/in/yaronbeen/\n=======================================\n",
        "height": 740,
        "width": 480,
        "color": 4
      },
      "id": "23acb1f0-ddfe-47dd-93d4-62d30df266ea",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1020,
        -100
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Fetcher": {
      "main": [
        [
          {
            "node": "Text Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listener": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarizer": {
      "main": [
        [
          {
            "node": "Summary Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Help Responder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summary Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Help Responder": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Extractor": {
      "main": [
        [
          {
            "node": "Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generator": {
      "main": [
        [
          {
            "node": "Image Acknowledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Checker": {
      "main": [
        [
          {
            "node": "Fetcher",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Prompt Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Checker": {
      "main": [
        [
          {
            "node": "Image Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f26db806-bee1-4a6c-b46e-21faa0e0ad1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d8747a358c6ef7f467b6ae415e9e8b134cc3cfbb4ead13516b19d9211ae0b58"
  },
  "id": "XUN3zXAPePHOqVAi",
  "tags": []
}