E/Resume_Data_Extraction_and_Storage_in_Supabase_from_Email_Attachments.json
{
  "name": "Resume Data Extraction and Storage in Supabase from Email Attachments",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "edf429ec-661a-47e7-9a8a-df43dfa403e9",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -1180,
        340
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "id": "4eac6deb-2cd2-430d-b74e-949b2372db80",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -700,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5b82b5d-ae4e-43d9-835b-13c9f86555e7",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9ca50adb-666d-4155-9406-c5a46c8b9756",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -480,
        340
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an HR expert, you are given a detailed CV text \nextract \nName \nEmail \nTelephone \nExperience \nSkills \nEducation \nThis is the CV text: {{ $json.text }}",
        "hasOutputParser": true
      },
      "id": "a72e6a5c-ac8e-4534-97cf-6b26fd635331",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -260,
        340
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout:free",
        "options": {}
      },
      "id": "1170591f-fcbb-43a3-8119-43bdc2d6188a",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        -260,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \n\"Name\": \"Firstname Lastname\", \n\"Telephone\": \"01788798797\", \n\"Email\": \"a@b.com\", \n\"Education\": [\"University 1\", \"University 2\"], \n\"Skill\": [\"Skill 1\", \"Skill 2\", \"Skill 3\"], \n\"Experience\": [\"Job 1\", \"job 2\", \"job 3\"] \n}"
      },
      "id": "cec5e6e8-cddd-4579-8b53-54987f3b2dab",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -80,
        560
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "[supabase URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "[key]"
            },
            {
              "name": "Authorization",
              "value": "Bearer [key]"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.output.Name }}"
            },
            {
              "name": "telephone",
              "value": "={{ $json.output.Telephone }}"
            },
            {
              "name": "email",
              "value": "={{ $json.output.Email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7e404d8c-4f59-49cf-b1b6-fa3d67dda701",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        120,
        340
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "tableId": "experiences",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cv_id",
              "fieldValue": "={{ $('HTTP Request').item.json.id }}"
            },
            {
              "fieldId": "text",
              "fieldValue": "={{ $json.Expr }}"
            }
          ]
        }
      },
      "id": "e2baab53-4d63-471b-a32a-24038283e6d1",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "position": [
        760,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bd4d4e4-2d0c-4310-b9f9-a7236ac58f74",
              "name": "Expr",
              "type": "array",
              "value": "={{ $('Basic LLM Chain').item.json.output.Experience }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e9a12393-5991-4744-92d9-a0b1cc9544b3",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        340,
        340
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "Expr",
        "options": {}
      },
      "id": "2836427b-248b-484f-be65-90f9e3d9a3ee",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        560,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "tableId": "skills",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cv_id",
              "fieldValue": "={{ $('HTTP Request').item.json.id }}"
            },
            {
              "fieldId": "text",
              "fieldValue": "={{ $json.skill }}"
            }
          ]
        }
      },
      "id": "6dccd5dd-3c3f-472a-bd70-c9d7fd6f1493",
      "name": "Supabase1",
      "type": "n8n-nodes-base.supabase",
      "position": [
        760,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bd4d4e4-2d0c-4310-b9f9-a7236ac58f74",
              "name": "skill",
              "type": "array",
              "value": "={{ $('Basic LLM Chain').item.json.output.Skill }}"
            }
          ]
        },
        "options": {}
      },
      "id": "74b63af2-9c45-4e23-84b1-e958988d022a",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "position": [
        340,
        540
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "skill",
        "options": {}
      },
      "id": "a9dfdc23-57e1-420b-b4bb-fe9749010c62",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        560,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "tableId": "education",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cv_id",
              "fieldValue": "={{ $('HTTP Request').item.json.id }}"
            },
            {
              "fieldId": "text",
              "fieldValue": "={{ $json.Educ }}"
            }
          ]
        }
      },
      "id": "8634323e-8a6e-4c59-8dd4-862e47957422",
      "name": "Supabase2",
      "type": "n8n-nodes-base.supabase",
      "position": [
        760,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bd4d4e4-2d0c-4310-b9f9-a7236ac58f74",
              "name": "Educ",
              "type": "array",
              "value": "={{ $('Basic LLM Chain').item.json.output.Education }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c0a5b503-ce94-4aa1-b4ca-38b652015590",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "position": [
        340,
        760
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "Educ",
        "options": {}
      },
      "id": "c2bbdf64-c2ae-47de-84c4-d59640909cda",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        560,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Email Trigger\n",
        "height": 280
      },
      "id": "aa925ccd-df64-4e6c-96dd-5f9109845e4e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1260,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Prepare Data \n",
        "height": 280,
        "width": 400,
        "color": 4
      },
      "id": "c2565078-9a63-41a2-a7bd-29ff1141e560",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Extract Information \n",
        "height": 440,
        "width": 360,
        "color": 3
      },
      "id": "e35f0f49-d698-4e9f-a2d6-3610255eddfd",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save Information\n",
        "height": 680,
        "width": 900,
        "color": 6
      },
      "id": "83c427d9-90a3-4df5-b413-341e6f0e8126",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0047fdcf-2c7b-4286-a54e-7018028dea1c",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "attachment_0",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "2777bac2-e928-47a1-bf85-830ee485c817",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -940,
        340
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## check if Attachment exists",
        "height": 280,
        "color": 5
      },
      "id": "7c6f82e0-e58c-4d73-88bd-0ebf8542ccef",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        260
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "70232d25-a4c0-42a4-9b70-2fea645bb931",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d8747a358c6ef7f467b6ae415e9e8b134cc3cfbb4ead13516b19d9211ae0b58"
  },
  "id": "XUN3zXAPePHOqVAi",
  "tags": []
}